.ipynb_checkpoints
__pycache__
env_chem_agent
.DS_Store

*.pkl
*.pdb
*.html
*.csv
*.log
*.sdf
*.pdb
!data/PDBbind.csv

*/test/*
*/files/*
*/files*/
**/files/*
*/eval/*
**/session/*

**/answers_llm/*
**/questions_llm/*
**/docking_lab/*
**/eval_result/*

mcp_external/*
!mcp_external/install.sh

config*/*

FoldX*
